*.iml
.gradle
.idea/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/misc.xml
.DS_Store
/build
/captures
/gen
/mapping.txt
/bin
/gradle
/node_modules
/captures
*.hprof
将删除 java_pid18089.hprof
将删除 java_pid20333.hprof
将删除 java_pid2922.hprof
将删除 java_pid31747.hprof
将删除 java_pid6699.hprof
将删除 java_pid7208.hprof
将删除 java_pid7965.hprof
/Test Results - LocaleTest.html
/annotation/build/
/compiler/build/
/compiler/build/classes/
/gradle.properties
/fastdex.properties
