<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cylan.jiafeigou"
    android:versionCode="999"
    android:versionName="888">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="23" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <!-- <uses-permission android:name="android.permission.RESTART_PACKAGES"/> -->
    <!-- 该应用程序使用该设备的摄像头。如果设备支持多个摄像头，应用程序使用相机，面对从屏幕上移开 -->
    <uses-feature android:name="android.hardware.camera" />
    <!-- 子功能。该应用程序使用设备相机的自动对焦能力。 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 该应用程序使用设备上的麦克风。 -->
    <uses-feature android:name="android.hardware.microphone" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 读取系统底层日志 -->
    <!-- <uses-permission android:name="android.permission.READ_LOGS" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 应用程序使用802.11网络（WIFI）功能的设备上的。 -->
    <uses-feature android:name="android.hardware.wifi" />

    <!-- 改变WiFi多播状态 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- <uses-permission android:name="android.permission.GET_TASKS"/> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- 允许程序不通过拨号界面拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 允许程序读取用户联系人数据 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 写入联系人，但不可读取 -->
    <!-- <uses-permission android:name="android.permission.WRITE_CONTACTS" /> -->
    <!-- 允许程序访问手机状态信息 -->
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_SMS"/> -->
    <!-- <uses-permission android:name="android.permission.READ_SMS"/> -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 位置信息 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 允许程序唤醒机器 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <!-- sd卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许程序挂载和移除可移动存储设备 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 用于密码修改后其他终端提示 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".n.base.BaseApplication"
        android:configChanges="locale|orientation|keyboardHidden"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 华为推送 Start -->
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="10826402" />
        <meta-data
            android:name="BUGLY_APPID"
            android:value="900026046" />

        <provider
            android:name="com.huawei.hms.update.provider.UpdateProvider"
            android:authorities="${HW_PUSH_AUTHORITIES}"
            android:exported="false"
            android:grantUriPermissions="true" />
        <!-- 华为推送 End -->

        <!-- server address -->
        <!-- <meta-data -->
        <!-- android:name="ServerAddress" -->
        <!-- android:packValue="${NICELY_VALUE}" /> -->


        <!-- &lt;!&ndash; your vid getString must "\ " &ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="vid" -->
        <!-- android:packValue="${VID}" /> -->
        <!-- <meta-data -->
        <!-- android:name="vkey" -->
        <!-- android:packValue="${VKEY}" /> -->

        <activity
            android:name=".SmartcallActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1103156296" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewHomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CamActivityTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name=".n.base.BaseApplication$BootCompletedReceiver">
            <intent-filter android:priority="0x7fffffff">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".n.engine.DaemonService"
            android:enabled="true"
            android:exported="true" />
        <!-- <service android:name=".n.engine.DaemonService$InnerAssistService" /> -->

        <activity
            android:name=".n.view.activity.BindDeviceActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".n.view.activity.CameraLiveActivity"
            android:configChanges="locale|orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CamActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".n.view.activity.CamSettingActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CamActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".n.view.activity.MagLiveActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CamActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".n.view.bell.DoorBellHomeActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CamActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".n.view.bell.BellLiveActivity"
            android:configChanges="locale|orientation|keyboardHidden|navigation|screenSize"
            android:keepScreenOn="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CamActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".n.view.activity.CloudLiveActivity"
            android:configChanges="locale|orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/CamActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- &lt;!&ndash; 一个空的service，辅助启动bell_call进程。 &ndash;&gt; -->
        <!-- <service -->
        <!-- android:name=".n.engine.SimpleHelperIntentService" -->
        <!-- android:exported="false" /> -->

        <activity
            android:name=".n.view.activity.MediaActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:screenOrientation="portrait"
            android:theme="@style/CamActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <service
            android:name=".n.engine.DownloadService"
            android:enabled="true"
            android:exported="true"
            android:process=":download" />

        <activity
            android:name=".n.view.misc.UpdateActivity"
            android:process=":download"
            android:theme="@style/dialog_activity_style" />

        <service
            android:name=".n.engine.CloudLiveService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <!--
            将WXEntryActivity设置为透明 android:theme="@android:style/Theme.Translucent"
            这样就解决了，微信分享成功后，跳转到指定WXEntryActivity，显示微信分享信息，
            而给用户视觉效果就在当前界面。
        -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:theme="@style/wechat_share" />
        <activity
            android:name=".support.photoselect.activities.AlbumSelectActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".support.photoselect.activities.ImageSelectActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".support.photoselect.ClipImageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />

        <service
            android:name=".n.engine.AfterLoginService"
            android:exported="false" />

        <activity
            android:name=".n.view.media.CamMediaActivity"
            android:configChanges="locale|orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CamActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".n.view.record.DelayRecordActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CamActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".n.view.cloud.CloudLiveCallActivity"
            android:configChanges="locale|orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity xmlns:tools="http://schemas.android.com/tools"
            android:name="com.facebook.FacebookActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme" />
        <activity
            android:name=".n.view.panorama.PanoramaCameraActivity"
            android:configChanges="locale|orientation|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CamActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="kCEeFDWzz5xHi8Ej9Wx6FWqRL" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="fb1866682200216878" />

        <activity
            android:name=".n.view.activity.SightSettingActivity"
            android:configChanges="locale|orientation|keyboardHidden|navigation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/CamActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".n.view.bell.BellRecordDetailActivity"
            android:configChanges="locale|orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CamActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".n.view.panorama.PanoramaSettingActivity"
            android:configChanges="locale|orientation|keyboardHidden|navigation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/CamActivityTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- 进程保活 Start -->
        <service
            android:name=".DaemonService1"
            android:process=":process1" />

        <receiver
            android:name=".DaemonReceiver1"
            android:process=":process1" />

        <service
            android:name=".DaemonService2"
            android:process=":process2" />

        <receiver
            android:name=".DaemonReceiver2"
            android:process=":process2" />
        <!-- 进程保活 End -->

        <receiver android:name=".push.HuaweiPushReceiver">
            <intent-filter>

                <!-- 必须,用于接收token -->
                <action android:name="com.huawei.android.push.intent.REGISTRATION" /> <!-- 必须，用于接收消息 -->
                <action android:name="com.huawei.android.push.intent.RECEIVE" />
                <!-- 可选，用于点击通知栏或通知栏上的按钮后触发onEvent回调 -->
                <action android:name="com.huawei.android.push.intent.CLICK" />
                <!-- 可选，查看push通道是否连接，不查看则不需要 -->
                <action android:name="com.huawei.intent.action.PUSH_STATE" />
            </intent-filter>

            <meta-data
                android:name="CS_cloud_ablitity"
                android:value="@string/hwpush_ability_value" />
        </receiver>
        <receiver android:name="com.huawei.hms.support.api.push.PushEventReceiver">
            <intent-filter>

                <!-- 接收通道发来的通知栏消息，兼容老版本Push -->
                <action android:name="com.huawei.intent.action.PUSH" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".base.JFGNetWorkMonitorReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">


                　


                <!-- 监听的动作类型，这里是监听网络连接的状态 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity android:name=".n.view.panorama.PanoramaAlbumActivity">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <service android:name=".n.engine.DataSourceService" />

        <activity
            android:name=".n.view.activity.BindCamActivity"
            android:label="@string/title_activity_bind_cam"
            android:theme="@style/CamActivityTheme" />
    </application>

</manifest>